body{
    margin: 0;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(70, 23, 197);
}
.logo{
    margin: auto 30px;
    width: 80px;
}

.main-menu{
    height: 20px;
    margin-right: 40px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

.menu-option{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    width: 50px;
    margin: auto 10px;
}
main{
    width: 100%;
    margin: 0 auto;
}

.zona-titular{
    height: 600px;
    width: 100%;
    text-align: center;
    background-image: url('https://th.bing.com/th/id/R.7b0d0d534a56494fa8a1032a812f09c0?rik=EukfpDXEwCPitg&pid=ImgRaw&r=0');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.zona-titular h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    padding: 220px 0 100px 0;
    color: white;
    margin: 0;
}

.zona-titular h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 10px 0;
    background-color: white;
    height: 25px;
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    cursor: pointer;
}

.sec-blog-servicios{
    display: flex;
    height: 100px;
    width: 100%;   
}
.sec-blog-servicios div{
    width: 100%;
    height: 100%;
    
}


.servicios{
    display: flex;
    background-color: rgb(200, 243, 9);
}

.servicios h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.servicios p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font: optional; color: rgb(0, 0, 0);
    width: 250px;
    margin: auto;
}

.servicios{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.servicios div{
    width: 100%;

}

.servicios img{
    margin-top: 50px 50px;
    margin: auto 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    width: 300px;
    background-image: cover;
}
.serweb{
    left: auto;
}

.sercv{
    align-items: center;
}

.serpn{
    right: auto;
}

footer{
    padding: 15px 100px 5px 15px;
    background-color: rgb(70, 23, 197);
    width: auto;
    margin: auto;
}

.quetefollen{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.logfoot{
    margin: auto 30px;
    margin-top: 25 20 0 0;
    margin-left: 20;
    width: 50px;
    float: left;
    background-color: rgb(70, 23, 197);
}

